<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oracle.manageddataaccess.client"
      type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </configSections>
  <system.data>
    <DbProviderFactories>
      <remove invariant="Oracle.ManagedDataAccess.Client"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver"
        type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.19.1, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <publisherPolicy apply="no"/>
        <assemblyIdentity name="Oracle.ManagedDataAccess" publicKeyToken="89b483f429c47342" culture="neutral"/>
        <bindingRedirect oldVersion="4.121.0.0 - 4.65535.65535.65535" newVersion="4.122.19.1"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <oracle.manageddataaccess.client>
    <version number="*">
      <dataSources>
        <dataSource alias="defaultDB" descriptor="User ID=ADCAS001; Password=ADCAS001; Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=tcp)(HOST=pms.mbpsmartec.co.jp)(PORT=49161))(CONNECT_DATA=(SERVICE_NAME=XE)))"/>
      </dataSources>
    </version>
  </oracle.manageddataaccess.client>


  <appSettings>
    
    <add key="writeLog" value="true"/>
    <add key ="GetTableComment" value="SELECT COMMENTS FROM USER_TAB_COMMENTS{DBLINK} WHERE TABLE_NAME='{TNAME}'"/>
    <add key ="SetTableComment" value="COMMENT ON TABLE {TNAME} IS '{COMMENT}'"/>
    <add key ="SetColumnComment" value="COMMENT ON COLUMN {TNAME}.{CNAME} IS '{COMMENT}'"/>
    <add key ="QueryData" value="SELECT {COLUMNS} FROM {TNAME}{DBLINK} WHERE {WHERE} {ORDERBY}"/>
    
    <add key="GetTableColumnsInfo" value="
         SELECT
          COL.CNAME
          , COL.COLTYPE
          , COL.SCALE
          , NVL(COL.PRECISION, COL.WIDTH) WIDTH
          , COL.NULLS
          , PK.CONSTRAINT_TYPE
          , NM.COMMENTS 
          , COL.DEFAULTVAL
        FROM
          COL{DBLINK} ,
          USER_COL_COMMENTS{DBLINK} NM 
          , ( 
            SELECT
              COLS.TABLE_NAME
              , COLS.COLUMN_NAME
              , CONS.CONSTRAINT_TYPE 
            FROM
                ALL_CONSTRAINTS{DBLINK} CONS
              , ALL_CONS_COLUMNS{DBLINK} COLS 
            WHERE
              CONS.CONSTRAINT_TYPE = 'P' 
              AND CONS.CONSTRAINT_NAME = COLS.CONSTRAINT_NAME 
              AND CONS.OWNER = COLS.OWNER 
              AND CONS.OWNER = 'ADCAS001'
          ) PK
        WHERE
          COL.TNAME = PK.TABLE_NAME(+) 
          AND COL.CNAME = PK.COLUMN_NAME(+) 
          AND COL.TNAME = '{TNAME}' 
          AND COL.TNAME = NM.TABLE_NAME 
          AND COL.CNAME = NM.COLUMN_NAME 
        ORDER BY
          COL.COLNO
         "/>
  </appSettings>
  
</configuration>